@{
    string title = "_SelectApplication";
}

@model DBUtility.WebUI.ViewModels._SelectApplication

@Html.Partial("__Back", new ViewDataDictionary { { "canGoBack", @Model.CanGoBack } });

<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 container body-content">

    <div class="row fading-body">
        <div class="container-fluid">
            <div class="panel panel-primary panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">Select Application</h3>
                </div>
                <div class="panel-body">
                    Panel content
                    @Html.Hidden("ViewName", title)
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>

@Html.Partial("__Next", new ViewDataDictionary { { "canGoNext", @Model.CanGoNext } });